# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: aws-boilerplate
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name

# You can pin your service to only deploy with a specific Serverless version
# frameworkVersion: "=X.X.X"
plugins:
  - serverless-plugin-typescript 
  - serverless-offline-scheduler # Need to use sls offline start / sls schedule 
  - serverless-offline
  - serverless-plugin-split-stacks

provider:
  profile: ${file(./secrets.yml):profile} # to avoid incidental deployment to other accounts (Value:aws-profile-name)
  name: aws
  runtime: nodejs12.x
  stage: ${self:custom.stage} # default-> dev
  region: ap-south-1          # default-> us-east-1

# you can define service wide environment variables here
  environment:
    stage : ${self:custom.stage}
    region: ${self:provider.region}
# s3 buckets custom configuration can be placed under provider (in camelCase not PascalCase)
# Sub properties should be according to the specification
  # s3:
  #   exampleBucket:
  #     name: my-custom-bucket-name
  #     versioningConfiguration:
  #       Status: Enabled

# you can add statements to the Lambda function's IAM Role here
#  iamRoleStatements:
#    - Effect: "Allow"
#      Action:
#        - "s3:ListBucket"
#      Resource: { "Fn::Join" : ["", ["arn:aws:s3:::", { "Ref" : "ServerlessDeploymentBucket" } ] ]  }
#    - Effect: "Allow"
#      Action:
#        - "s3:PutObject"
#      Resource:
#        Fn::Join:
#          - ""
#          - - "arn:aws:s3:::"
#            - "Ref" : "ServerlessDeploymentBucket"
#            - "/*"


# you can add packaging information here
package:
  individually: true
#  include:
#    - include-me.js
#    - include-me-dir/**
#  exclude:
#    - exclude-me.js
#    - exclude-me-dir/**
  excludeDevDependencies: true

custom:
  # plugins variables
  splitStacks:
    perFunction: false
    perType: true
  
  # project variables
  defaultStage: dev   # dev is default stage 
  stage: ${opt:stage,self:custom.defaultStage} # set custom stage variable to use in other places
  appName: ${self:service}
  exampleBucketName: ${self:custom.appName}-${self:custom.stage}-example-bucket

# Add Lambda functions configuration here
functions:
  - ${file(src/modules/hello/functions1.yml)}
  - ${file(src/modules/hello/functions2.yml)}


# you can add CloudFormation resource templates here
resources:
  # yaml file for storing all s3 buckets
  - ${file(resources/buckets.yml):resources}

Outputs:
  - ${file(./resources/buckets.yml):outputs}
    # NewOutput:
    #   Description: "Description for the output"
    #   Value: "Some output value"
